<!--中高屏幕-->
<nav class="navbar navbar-default hidden-xs" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="#">img</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">微信互动 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/h5app">h5小游戏</a></li>
                        <li><a href="/h5game">h5恶搞小程序</a></li>

                    </ul>
                </li>
                <li class="middle-nav-li">|</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品列表 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">迪士尼</a></li>
                        <li><a href="#">蛋糕</a></li>
                        <li><a href="#">礼盒</a></li>
                        <li><a href="#">纸杯蛋糕</a></li>
                        <li><a href="#">派</a></li>
                        <li><a href="#">挞</a></li>
                        <li><a href="#">礼品卡</a></li>
                    </ul>
                </li>
                <li class="middle-nav-li">|</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">寻找我们 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">门店</a></li>
                        <li><a href="#">配送须知</a></li>
                    </ul>
                </li>
                <li><a href="#">活动</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">会员</a></li>
                        <li><a href="#">我们</a></li>
                        <li><a href="#">礼品卡</a></li>
                    </ul>
                </li>
                <li><a href="#" style="float: left;">甜品台</a> <img src="https://www.pantrysbest.com/assets/sell/new_icon-1aa4c0666ed80fa69470554de82acf5c.png" style="margin-top: 20px;" alt=""></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
                <li><a href="#">购物车</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>





<!--手机屏幕-->
<nav class="navbar navbar-default visible-xs" role="navigation">
    <div class="navbar-header">
        <span class="login-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">未登录</span>
        <div class="mobile-brand"><img src="https://www.pantrysbest.com/assets/logo-normal-b1767a34a2e4c88666d91c26c01bdd09.png" alt="" class="img-responsive"></div>
        <div class="mobile-phone">
            <span class="fa fa-phone pantry-green-font"></span>
        </div>
    </div>
    <div class="collapse navbar-collapse navbar-ex2-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">天津 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">北京</a></li>
                    <li><a href="#">上海</a></li>
                    <li><a href="#">杭州</a></li>
                </ul>
            </li>
            <li class="middle-nav-li">|</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品列表 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">迪士尼</a></li>
                    <li><a href="#">蛋糕</a></li>
                    <li><a href="#">礼盒</a></li>
                    <li><a href="#">纸杯蛋糕</a></li>
                    <li><a href="#">派</a></li>
                    <li><a href="#">挞</a></li>
                    <li><a href="#">礼品卡</a></li>
                </ul>
            </li>
            <li class="middle-nav-li">|</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">寻找我们 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">门店</a></li>
                    <li><a href="#">配送须知</a></li>
                </ul>
            </li>
            <li><a href="#">活动</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">关于<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">会员</a></li>
                    <li><a href="#">我们</a></li>
                    <li><a href="#">礼品卡</a></li>
                </ul>
            </li>
            <li><a href="#" style="float: left;">甜品台</a> <img src="https://www.pantrysbest.com/assets/sell/new_icon-1aa4c0666ed80fa69470554de82acf5c.png" style="margin-top: 20px;" alt=""></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">登录</a></li>
            <li><a href="#">注册</a></li>
            <li><a href="#">购物车</a></li>

        </ul>
    </div>
</nav>